@use "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variables.$font-primary;
    background-color: variables.$bg-color;
    color: variables.$text-color;
}

.header,
.btn-primary {
    background-color: variables.$primary-color !important;
}

.btn_secondary-hover,
.btn-primary {
    &:hover {
        background-color: variables.$secondary-color !important;
        font-weight: bolder;
    }
}
